.main-banner{
    width: 90%;
    margin: auto;
    padding: 100px 0;
}
.banner-section{
    display: flex;
}
.banner-section .left-side{
    width: 60%;
    margin-right: 50px;
}
.banner-section .left-side h3{
    font-size: 24px;
    color: orange;
    margin-bottom: 30px;
}
.banner-section .left-side h2{
    font-size: 45px;
    font-weight: bold;
    color: white;
    line-height: 50px;
}
.banner-section .left-side h1{
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
    line-height: 50px;
    margin-top: 20px;
}
.banner-section .right-side{
    width: 40%;
    display: flex;
    align-items: center;
}
.banner-section .right-side img{
    width: 100%;
}

@media screen and (max-width:992px) {
    .banner-section{
        display: block;
    }
    .banner-section .left-side{
        width: 100%;
    }
    .banner-section .right-side{
        width: 100%;
        margin-top: 50px;
    }
}