.project{
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    transition: .8s;
}
.project:hover{
    transform: translateY(20px);
}
.project img{
    border-radius: 10px;
}
.project .content{
    margin-top: 10px;
    margin-left: 15px;
}
.project h4{
    font-size: 22px;
    color: white;
}
.project span{
    font-weight: bold;
}
.project h5{
    color: white;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.project .button-send{
    background-color: white;
    padding: 10px 50px;
    font-weight: bold;
    transition: .8s;
    color: black;
}
.project .button-send:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}